<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Status Pemesanan - Vibe Apparel</title>
  <link rel="stylesheet" href="/static/css/status.css">
</head>
<body>
  <main class="container">
    <h1>Status Pemesanan Kamu</h1>

    {{if .Pesanan}}
      {{range .Pesanan}}
      <div class="pesanan-card">
        <h2>Jenis Jersey: {{.Jersey.Deskripsi}}</h2>
        <img src="{{.Jersey.ImageURL}}" alt="Jersey" class="jersey-img"/>
        {{if .NamaKlub}}
            <p><strong>Nama Klub:</strong> {{.NamaKlub}}</p>
        {{end}}
        <p><strong>Jumlah jersey yang dipesan:</strong> {{.JumlahPemain}}</p>
        <p><strong>Status Pembayaran:</strong> {{.StatusPembayaran}}</p>
        <p><strong>Tanggal Pemesanan:</strong> {{.CreatedAtFormatted}}</p>
        {{if eq .StatusPembayaran "sudah dibayar"}}
          <p><strong>Dibayar pada:</strong> {{.PaidAtFormatted}}</p>
          <p><strong>Pesanan diproses. Estimasi 2 sampai 3 minggu sejak pembayaran dikonfirmasi.</strong></p>
        {{end}}
      </div>
      {{end}}
    {{else}}
      <p>Kamu belum melakukan pemesanan.</p>
    {{end}}
  </main>
</body>
</html>
